$lighterInk: #72777a;
$lightInk: #6c7072;
$baseInk: #404446;
$darkInk: #303437;
$darkerInk: #202325;
$darkestInk: #090a0a;

$lightestSky: #F7F9FA;
$lighterSky: #F2F4F5;
$lightSky: #E3E5E6;
$baseSky: #CDCFD0;
$darkSky: #979C9E;


$lightestPrimary1: #E7E7FF;
$lighterPrimary1: #C6C4FF;
$lightPrimary1: #9990FF;
$basePrimary1: #6B4EFF;
$darkestPrimary1: #5538EE;

$lightestRed: #FFE5E5;
$lighterRed: #FF9898;
$lightRed: #FF6D6D;
$baseRed: #FF5247;
$darkestRed: #D3180C;

$lightestGreen: #ECFCE5;
$lighterGreen: #7DDE86;
$lightGreen: #4CD571;
$baseGreen: #23C16B;
$darkestGreen: #198155;

$lightestYellow: #FFEFD7;
$lighterYellow: #FFD188;
$lightYellow: #FFC462;
$baseYellow: #FFB323;
$darkestYellow: #A05E03;

$lightestPrimary2: #C9F0FF;
$lighterPrimary2: #9BDCFD;
$lightPrimary2: #6EC2FB;
$basePrimary2: #48A7F8;
$darkestPrimary2: #0065D0;

$baseFacebook: #0078ff;
$darkFacebook: #0067db;

$baseTwitter: #1DA1F2;
$darkTwitter: #0C90E1;
