$lighterInk: #72777a;
$lightInk: #6c7072;
$baseInk: #404446;
$darkInk: #303437;
$darkerInk: #202325;
$darkestInk: #090a0a;

$lightestSky: #f7f9fa;
$lighterSky: #f2f4f5;
$lightSky: #e3e5e6;
$baseSky: #cdcfd0;
$darkSky: #979c9e;

$lightestPrimary1: #e7e7ff;
$lighterPrimary1: #c6c4ff;
$lightPrimary1: #9990ff;
$basePrimary1: #6b4eff;
$darkestPrimary1: #5538ee;

$lightestRed: #ffe5e5;
$lighterRed: #ff9898;
$lightRed: #ff6d6d;
$baseRed: #ff5247;
$darkestRed: #d3180c;
$lightestGreen: #ecfce5;
$lighterGreen: #7dde86;
$lightGreen: #4cd571;
$baseGreen: #23c16b;
$darkestGreen: #198155;
$lightestYellow: #ffefd7;
$lighterYellow: #ffd188;
$lightYellow: #ffc462;
$baseYellow: #ffb323;
$darkestYellow: #a05e03;
$lightestPrimary2: #c9f0ff;
$lighterPrimary2: #9bdcfd;
$lightPrimary2: #6ec2fb;
$basePrimary2: #48a7f8;
$darkestPrimary2: #0065d0;
$baseFacebook: #0078ff;
$darkFacebook: #0067db;
$baseTwitter: #1da1f2;
$darkTwitter: #0c90e1;

$theme-colors: (
  textPrimary: $lightInk,
  textPrimaryActive: $basePrimary1,
  backgroundPrimary: #fff,
);

// Dark Theme Colors
$dark-theme-colors: (
  textPrimary: $darkSky,
  textPrimaryActive: #ffffff,
  backgroundPrimary: $darkestInk,
);

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
@function getColor($color_name, $alpha: 1) {
  @return rgba(var(#{$color_name}), $alpha);
}

:root {
  @each $key, $color in $theme-colors {
    --#{$key}: #{hexToRGB($color)};
  }

  &[data-theme="dark"] {
    @each $key, $color in $dark-theme-colors {
      --#{$key}: #{hexToRGB($color)};
    }
  }
}
